<div class="col-md-4">
    <h4>Avantages de votre compte nextBus</h4>
    <ul class="benefits triangle hover">
        <li><a href="#">Réservations plus rapides avec moins de clics</a></li>
        <li><a href="#">Suivre l'historique de voyage &amp; Gérer les réservations</a></li>
        <li class="active"><a href="#">Gérer le profil &amp; Personnaliser l'expérience</a></li>
        <li><a href="#">Recevoir des alertes &amp; Recommandations</a></li>
    </ul>
</div>
<div class="col-md-4 previous-bookings image-box style14">
    <h4>Vos dernières réservations</h4>
    <article class="box">
        <figure class="no-padding">
            <a title="" href="#">
                <img alt="" src="http://placehold.it/63x59" width="63" height="59">
            </a>
        </figure>
        <div class="details">
            <h5 class="box-title"><a href="#">Half-Day Island Tour</a><small class="fourty-space"><span class="price">$35</span> Family Package</small></h5>
        </div>
    </article>
    <article class="box">
        <figure class="no-padding">
            <a title="" href="#">
                <img alt="" src="http://placehold.it/63x59" width="63" height="59">
            </a>
        </figure>
        <div class="details">
            <h5 class="box-title"><a href="#">Ocean Park Tour</a><small class="fourty-space"><span class="price">$26</span> Per Person</small></h5>
        </div>
    </article>
</div>
<div class="col-md-4">
    <h4>Besoin d'aide ?</h4>
    <div class="contact-box">
        <p>Nous serons heureux de vous aider. Notre service client est à votre disposition 24/7 pour accompagner.</p>
        <address class="contact-details">
            <span class="contact-phone"><i class="soap-icon-phone"></i> 44-27-27-18-HELLO</span>
            <br>
            <a class="contact-email" href="#">aide@next-bus.net</a>
        </address>
    </div>
</div>