{% extends "::base.html.twig" %}

{% block title %}Nos promotions | La première plateforme d'achat et de réservation de billet de bus {% endblock %}
{% block keywords %}
    voyage bus, bus voyage, billet de bus pas cher, bus mali, voyage car, bus pas cher mali, reservation bus, mali bus, billet de bus,
    billet bus, billet pas cher, prix billet, voyage mali, reservation nextBus, nextBus, reservation en ligne,
    plateforme de vente mali, plateforme de vente au mali, plateforme de vente de billet de bus, plateforme de vente
    de billet de bus au Mali, reserver, reserver mali, reserver au mali, achat de billet, billet mali,
    billet de bus mali, plateforme de reservation de billet de bus au Mali
{% endblock %}
{% block description %}Découvrez toutes les offres promotionnelles du moment. Avec nextBus, c'est la fête au quotidien... {% endblock %}
{% block content %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Promotions</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">ACCUEIL</a></li>
                <li class="active">Promotions</li>
            </ul>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="image-style style1 large-block">
                    <h1 class="title">
                        AUCUNE PROMOTION POUR LE MOMENT</h1>


                    <div class="clearfix"></div>
                </div>
            </div> <!-- end main -->
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">

    </script>
{% endblock %}